html,
body {
  height: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
  font-family: Roboto;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:focus {
  color: #fff;
  text-decoration: underline;
}

.logo {
    width: 100%;
    max-width: 155px;
    height: auto;
    margin: 0 auto;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.btn:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  font-family: Roboto;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-family: Roboto;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family: Roboto;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #000;
  font-family: Roboto;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #000;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}